-----BEGIN CERTIFICATE-----
MIIFazCCA1OgAwIBAgIUL+ZHN1GohlAFolk3uBZ+WZ6C5I4wDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMDA5MDgyMjAwNDJaFw0yMDEw
MDgyMjAwNDJaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQCvJvJGkbNBXvDMbzmxaxKjys6+eBHOlWftoFUqeeBn
2rhnYdUxRojVz1wUWobD63GAG/08A5kbqMxQS+0EpNnp11Uhc2R7mIkktQg7EZFr
yDYWlShkXpLK7/uV+7IVf06OSt5b5EqMRA3oOQWDWwUbie+BKKmBKQCXJ3vkQUzI
yJcY8MAGjQmVhLn9LitDUS0VX+iekmy3rHdbvUEsWoctGDvGVh4b12wF3+hTRkfd
WF8kxScBgyTQEzbKleub3u4qO9NmAzdEH+ZQTLK3ksmZ35i9woQ+NOQ+CY4SBO+j
EYQxe7AgusjI+ff1MurPTsNRoomIbJYDW2WAkspDXt+VCAJt28SyGDKKiCZ0PhLy
Ef1MPaZRWrkUDJdtQ9kjj6kgGP7j0XmayxkSRX8cRSt+b84Ifvd/6Ftnu6WkW3ne
DdBuBxVTiYpySXBMYej69Tu/6R9CWfSpDnplprrhG2kUX7CRKRmBucJuPIOS+KHm
e+Fh9CVRBiX4k1hUnSmlZBWjLQz7NNXsyxrXrt2YoitbW6ESCfiArIKE67lsBDiK
mPLVUjYFyEl7Gw0jJYBekuXkdFUavXiYmMeycfCR7MdWGVH6VxKzPXVRIUqQu2kf
Z2RzuNf1H2syMmf8RJnrJf1CBe4lo4dkQEpTWdCQI2EPMKQWy0Bgl60FaGSv8sB6
vQIDAQABo1MwUTAdBgNVHQ4EFgQUUPQA5O0rGqpIr/0xPzefCSX4p94wHwYDVR0j
BBgwFoAUUPQA5O0rGqpIr/0xPzefCSX4p94wDwYDVR0TAQH/BAUwAwEB/zANBgkq
hkiG9w0BAQsFAAOCAgEAqvP8WQAUL464ZHYAQ1uKm/hy0htWfz0VHdpqi+fvFmoM
m5YW1FrlqzEjaSZI9Z1TqlCqMTpZXKDgq061HVQYChm9AHH9hAbBMrJajDJZSXwa
Px6t2zotH2ZcRXRWNAs98cFt++3ezF+tgOBZJGe4nE7vHZwe4f6/2OTzckRhP/ge
6syxoyfrDZLIIIsNGYH9U8FYSFHjAwFMIBgBUFLNcS9wdNUXVOUWeyAJRDMu2qDD
10Guv56aGI0gExqjqk6zaMqkGuMCwF0TjrSmhwJpe9bCpW04GMtHDbjt3PKjGrMu
99szSlPdn7EFQTMFuuYY8n2WUfmMWPZFLT0EIN0SoB3p6oeNbMryzBvLwOoP1L76
83EBWt7PS/VezSipACb7qqhzg7Mns3yBu3pHY84CeEcdE/SSE+WhPeatYrz70dIN
4vePLCCIdNbzCtBV6/eEOhuTd9h4u5VElrzP2PW3jKKtKsGx1IhEJOLTots9y5bD
ezzZ78JGNolP/SFRzwTYQVCqHspqIQdiVh5ivyb17ZbOxSECTiyD1JWkSR4mufCz
VALvKdkDtDce53m3qyecEOatEOxLder5pwfeeEQWOMGHjmvpRHsRMsy/yAMSDASJ
ATW87ZPi6HJLwdepuIzwzy+Y39yNV1o+tD/92klpPoHN5500GelWxomWj1PvHds=
-----END CERTIFICATE-----
